body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(102, 100, 100);
    padding: 20px;
    height: 100px;
}

nav {
    background-color: rgb(19, 18, 18);
    padding: 10px;
    text-align: center;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

section {
    margin-top: 25px;
    
}

section .section-header {
    background-color: rgb(19, 18, 18);
}